{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/common/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/word_list/main_word_list.css' %}">
    <link rel="stylesheet" href="{% static 'main/common/paginator.css' %}">
    <title>Word list</title>
</head>
<body>
    {% include 'main/common/header.html' %}
    <div id = 'itIsUserListCheck' style = "display:none;">{{user_list}}</div>
    <div id="listWrapper">
        <div class="box">
            <h2>Page number is 1</h2>
            <ul></ul>
        </div>
    </div>
    {% include 'main/common/paginator.html' %}
    <script  src="{% static 'main/common/common.js' %}"></script>
    <script  src="{% static 'main/word_list/table_classes.js' %}"></script>
    <script  src="{% static 'main/word_list/fill_list.js' %}"></script>
    <script  src="{% static 'main/word_list/paginator.js' %}"></script>
</body>
</html>


