{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/common/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/word_list/main_word_list.css' %}">
    <link rel="stylesheet" href="{% static 'main/common/paginator.css' %}">
    <title>My words</title>
</head>
<body>
    {% include 'main/common/header.html' %}
    <div id="listWrapper">
        <div class="box">
            <h2>CSS List Item Hover Effect</h2>
            <ul>
                {% for p in context %}
                    <li>{{p}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script  src="{% static 'main/common/common.js' %}"></script>
    <script  src="{% static 'main/word_list/table_classes.js' %}"></script>
    <script>Table.addListenerForEachElement();</script>
</body>
</html>